.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

button {
  background-color: #437b99;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-right: 0;
}

table {
  width: 50%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin-top: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #437b99;
  color: white;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

tbody tr:nth-child(even) {
  background-color: #fafafa;
}

.th-delete {
  width: 0;
}

.delete-btn, .update-btn {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin: 0.3rem;
}

.delete-btn:hover {
  background-color: #c9302c;
}

.update-btn {
   background-color: #0e6691;
}