.update-container {
  max-width: fit-content;
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.update-container input,
.update-container textarea {
  padding: 0.6rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.update-container textarea {
  min-height: 100px;
}

.delete-btn, .update-btn, .code-btn {
  color: white;
  border: none;
  padding: 0.7rem;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.code-btn {
  background-color: #28a745;
}

.code-btn:hover {
  background-color: #218838;
}

.delete-btn {
  background-color: #d9534f;
}

.delete-btn:hover {
  background-color: #c9302c;
}

.update-btn {
  background-color: #0e6691;
}
.update-btn:hover {
  background-color: #034160;
}