form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

input[type="text"] {
  width: 15rem;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

textarea{
  width: 100%;
  height: 10rem;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

.type {
  display: flex;
  align-items: center;
}

.type-slider {
  font-size: 12px;
  position: relative;
  width: 6rem;
  height: 2rem;
  background-color: #ccc;
  border-radius: 25px;
  margin: 0.5rem;
  cursor: pointer;
  overflow: hidden;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.slider {
  position: absolute;
  left: 0;
  width: 3rem;
  height: 34px;
  border-radius: 20px;
  background-color: #0e6691;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: all 0.3s ease;
}

.slider.code {
  left: 3rem;
  background-color: #28a745;
}

.type-slider:hover .slider {
  filter: brightness(0.9);
}