form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

input[type="text"] {
  width: 15rem;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

textarea{
  width: 100%;
  height: 10rem;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}
